<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.am.birdescape">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirdEscape">

        <activity android:name=".play.Play_results"></activity>
        <activity
            android:name=".play.Play_GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.BirdEscape" />

        <activity
            android:name=".ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.BirdEscape" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.BirdEscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.BirdEscape" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.BirdEscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

                <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
                <meta-data
                    android:name="com.google.android.gms.ads.APPLICATION_ID"
                    android:value="ca-app-pub-8469263715026322~7419616401"/>

    </application>

</manifest>